<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="xylo.json"></script>
    <script type="text/javascript" src="Array_equals.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body data-ng-app="Simon" data-ng-controller="MainCtrl as app">
    <div id="darkness" class="disappear" data-ng-class="{'disappear': !power, 'appear': power}"></div>
  <div class="content">
      <div class="game">
        <div class="xylo-container">
            <div id="click-block" data-ng-if="!listening"></div>
            <div class="xylo" data-ng-repeat="bar in instrum.xyphone" data-ng-style="set_styling(bar)" data-ng-mouseenter="ShowGuide(bar)" data-ng-mousedown="Play(bar)" data-ng-mouseleave="UnPlay(bar);ShowGuide(bar)" data-ng-mouseup="UnPlay(bar)" data-ng-click="Enter(bar)"><div id="pip-holder" data-ng-style="backlight(bar)"><div id="p1"></div><div id="p2"></div></div><div data-ng-style="hinting(bar)" data-ng-show="bar.guide" id="guide"></div></div>
          </div>
          <div class="game-ctrl-panel">
            <div class="display-container">
                <div class="display">
                    <div class="display-text">
                            {{count}}
                    </div>
                </div>
              </div>
            <div class="logo-container">
                <span><h1>Xymon</h1><h5>™</h5></span>
                <span>Power</span>
                <div class="switch">
                  <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" data-ng-model="power" data-ng-click="CutPower()">
                  <label for="cmn-toggle-4"></label>
                </div>
              </div>
            <div class="ctrls-container">
                <div class="btn-row"><div class="btn start-btn" data-ng-click="NewGame()"><div class="pitch"><div class="light" data-ng-show="playing"></div></div></div><span>Start</span></div>
                <div class="btn-row"><div class="btn strict-btn" data-ng-click="Snape()"><div class="pitch"><div class="light" data-ng-show="strict"></div></div></div><span>Strict</span></div>
              </div>
          </div>
       </div>
    </div>
</body>