*{
  box-sizing: border-box;
}
body {
  text-align:center;
  background-color: #aaaa99;
}
.content {
  position: relative;
  padding-top: 8%;
  max-height: 100vh;
  max-width:100vw;
  color: #ffffff;
  text-align: center;
}





.game {
  border: 5px ridge darkred;
  border-radius:15px;
  display: inline-block;
  overflow: hidden;
}
.game-ctrl-panel {
  position:relative;
  width:100%;
  height:200px;
}






.xylo-container{
  position: relative;
    width:80vh;
    height:40vh;
    min-width: 800px;
    min-height: 400px;
    margin: auto;
    padding: 5%;
    background-color:#111;
}
td {
    border:1px solid blue;
    background-color:burlywood;
}