*{
  box-sizing: border-box;
}
body {
  text-align:center;
  background-color: #aaaa99;
}
.content {
  position: relative;
  padding-top: 8%;
  min-height: 100vh;
  min-width:100vw;
  color: #ffffff;
  text-align: center;
}
.xylphone-shaper{
  position: relative;
  margin: auto;
}

.game{
  position: relative;
    width:80vh;
    height:40vh;
    min-width: 800px;
    min-height: 400px;
    margin: auto;
}
td {
    border:1px solid blue;
}